body {
    background-color: beige;
}
h1 {
  color: cornflowerblue;
  font-family:'Courier New', Courier, monospace
}

h2 {
    font-family: sans-serif
}

h4 {
    color: cornflowerblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

p {
    font-family: monospace;
    font-size: 20px;
}
a {
    font-size: large;
}
  
* {
 margin: 0;
 padding: 0;
}
 
#container {
 width: 600px;
 margin: 50px auto;
}
 
/*Text Sections*/
.section {
 margin: 50px 0;
}
 
.section h1 {
 font: 55px/65px Helvetica, sans-serif;
}
 
.section p {
 font: 15px/25px Helvetica, sans-serif;
}